* {
.booking-form button {
padding: 12px 30px;
background: #e6007e;
color: white;
border: none;
border-radius: 25px;
cursor: pointer;
}


.auth-box {
display: flex;
gap: 40px;
justify-content: center;
margin-top: 30px;
flex-wrap: wrap;
}


.auth-box form {
background: white;
padding: 25px;
border-radius: 16px;
width: 260px;
box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


.auth-box input {
width: 100%;
margin-bottom: 10px;
padding: 10px;
border-radius: 8px;
border: 1px solid #ccc;
}


.auth-box button {
width: 100%;
padding: 10px;
background: #e6007e;
color: white;
border: none;
border-radius: 20px;
cursor: pointer;
}






.cards {
display: flex;
gap: 20px;
justify-content: center;
}


.card {
background: white;
padding: 30px;
border-radius: 16px;
width: 220px;
box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


footer {
background: #111;
color: white;
padding: 20px;
text-align: center;
}
